body {
    padding-left: 10%;
    padding-top: 25px;
}

#submit {
    width: max-content;
}

#resultSpan {
    margin: 0;
}

#words-list {
    width: 30%;
}

#guideButton {
    display: block;
    margin-bottom: 10px;
}

#alerts {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 500;
}

.progress {
    width: 30%;
    height: 30px;
}