<!doctype html>
<html lang="en">

<head>
  <title>Тренажер языка жестов</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  <link href="static/style.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
  <script src="static/script.js" type="text/javascript" defer></script>
</head>

<body>

  <h1>Язык жестов</h1>

  <section id="demo">
    <h2>Демо: тренажер</h2>
    <h4> Прогресс</h4>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 0%;"></div>
    </div>
    <br>
    <h4>Нажмите на одну из кнопок ниже, чтоб получить слово.</h4>
    <button id="randomWordButton" class="btn btn-outline-success btn-lg mb-3" onclick="getRandom()">Случайное слово</button>
    <br>
    {% for category in categories %}
    <button class="btn btn-outline-success btn-md mb-3" onclick="getCategory(this)" id="{{category}}">{{category}}</button>
    {% endfor %}
    <br>
    <div id="words-list" class="list-group">
      <button type="button" class="btn btn-outline-success" onclick="showhideWords()">
        Список слов
      </button>
      {% for word in words %}
      <button type="button" class="list-group-item list-group-item-action word-list " onclick="getWord(this)" id="{{word.word}}" style="display: none;">{{word.word}}</button>
      {% endfor %} 
    </div>
    <br/>
    <h2 id="taskWord">Слово: -------------- </h2>
    <button id="guideButton" class="btn btn-outline-primary" onclick="showGuide()">Инструкция</button>
    <video id="guideVideo" src="static/videos/агрессия.mp4" width="360" controls style="display: none;"></video>
    <h4>Нажмите на кнопку ниже или Пробел, чтоб записать жест.</h4>
  </section>
  <section id="submit">
    <div class="d-flex align-items-center justify-content-between">
      <button id="recordButton" class="btn btn-outline-success btn-lg">Записать</button>
      <span id="resultSpan" class="h4"></span>
    </div>
    <br>
    <video id="webCamera" autoplay width="640" height="480" class="border"></video>
    <canvas id="canvas" class="d-none"></canvas>
  </section>
  <section id="alerts">

  </section>
</body>

</html>