<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="static/style.css" rel="stylesheet">
  <script src="static/script.js" type="text/javascript" defer></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
</head>

<body>

  <h1>Язык жестов</h1>

  <section id="demo">
    <h2>Демо: тренажер</h2>
    <p>Нажмите на одну из кнопок ниже, чтоб получить слово.</p>
    <button id="randomWordButton" class="btn btn-outline-success btn-lg mb-3" onclick="getRandom()">Случайное слово</button>
    <br>
    {% for category in categories %}
    <button class="btn btn-outline-success btn-md mb-3" onclick="getCategory(this)" id="{{category}}" style="display: none;">{{category}}</button>
    {% endfor %}
    <br>
    <div id="words-list" class="list-group">
      <button type="button" class="btn btn-outline-success" onclick="showhideWords()">
        Список слов
      </button>
      {% for word in words %}
      <button type="button" class="list-group-item list-group-item-action word-list" onclick="getWord(this)" id="{{word.word}}">{{word.word}}</button>
      {% endfor %} 
    </div>
    <br/>
    <h2 id="taskWord">Слово: -------------- </h2>
    <button id="guideButton" class="btn btn-outline-primary" onclick="showGuide()">Инструкция</button>
    <video id="guideVideo" src="static/videos/агрессия.mp4" width="360" controls style="display: none;"></video>
    <h4>Нажмите на кнопку ниже или Пробел, чтоб записать жест.</h4>
  </section>
  <section id="submit">
    <div class="d-flex align-items-center justify-content-between">
      <button id="recordButton" class="btn btn-outline-success btn-lg">Записать</button>
      <span id="resultSpan" class="h4"></span>
    </div>
    <br>
    <video id="webCamera" autoplay width="640" height="480" class="border"></video>
  </section>
</body>

</html>